header{ 
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(CSS/Farms/african-man-harvesting-vegetables.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
nav .a{
    margin-right: 10px; 
    gap: 100px;
}